<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Flask Kakao OAuth App</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<!-- <link rel='stylesheet' type='text/css' media='screen' href='/static/style.css'> -->
</head>
<body>
	<!-- 카카오 로그인 api -->
	<div class="Wrapper">
		<a id="kakao-login-link" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFQOJtNpYFKTS1T5QdhIDFFgLzQO93BuFjFw&usqp=CAU" style="height:60px;width:auto;" /></a>
		<script src = "https://developers.kakao.com/sdk/js/kakao.js"></script>
		<script>
			window.Kakao.init("4620daa746ed1a3290f00b43f70095eb");

			document.getElementById('kakao-login-link').addEventListener('click', function(e) {
				e.preventDefault(); // 링크 클릭 시 기본 동작 방지
				
				// 로그인하고 정보를 db에 저장하기 위해 user_register로 이동
				var form = document.createElement('form');
				form.method = 'POST';
				form.action = '/user_register';

				Kakao.Auth.loginForm({
					scope: 'profile_nickname, profile_image, account_email',
					success: function(){
						Kakao.API.request({
							url:'/v2/user/me',
							success:function(authObj){
								// profile 정보 넘겨주기(form 으로 만들어서 post형식으로 보내기)
								var profiles = [
									{name : "name", value:authObj.kakao_account.profile.nickname},
									{name : "email", value:authObj.kakao_account.email},
									{name : "profile_image_url", value:authObj.kakao_account.profile.profile_image_url},
									{name : "thumbnail_image_url", value:authObj.kakao_account.profile.thumbnail_image_url},
								];

								profiles.forEach(function(profile) {
									var input = document.createElement('input');
									input.type = 'hidden';
									input.name = profile.name;
									input.value = profile.value;
									form.appendChild(input);
								});

								document.body.appendChild(form);
								form.submit();

								// 다른 html로 변수 전달
								var profile2html = {
									"name" : authObj.kakao_account.profile.nickname,
									"email" : authObj.kakao_account.email,
									"profile_image_url" : authObj.kakao_account.profile.profile_image_url,
									"thumbnail_image_url" : authObj.kakao_account.profile.thumbnail_image_url
								}
								localStorage.setItem("profile", JSON.stringify(profile2html));
							}
						})
					},
					fail: function(error){
						console.log(error);
					}
				});
			});
		</script>
	</div>

	<div>
		<a id="naver_login_link" href="#"><img src="https://mblogthumb-phinf.pstatic.net/MjAxODA4MDNfMjIx/MDAxNTMzMjY4NzQ4NDUx.pp5qAnsfJcB8wF7_bWk9X_E0Gn4OZiFwmq4dJ0fpGn0g.kElju0PYLStsSwU9rA8zlqEuXa9pO77qWoN3VTOtDvcg.PNG.thdbsgh3443/%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7_2018-08-03_%EC%98%A4%ED%9B%84_12.58.53.png?type=w800" style="height:60px;width:auto;"></a>

		<!-- 네이버 스크립트 -->
		<script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
		<script>
			var naverLogin = new naver.LoginWithNaverId(
					{
						clientId: "kdEGHsiTcc6y7KcJp8_x", //내 애플리케이션 정보에 cliendId를 입력해줍니다.
						callbackUrl: "http://localhost:5000", // 내 애플리케이션 API설정의 Callback URL 을 입력해줍니다.
						isPopup: false,
						callbackHandle: true
					}
				);	

			naverLogin.init();
		</script>
	</div>


	<div id="loading" class="loading display_none">
		<div class="loading_circle"></div>
	</div>
</body>
<!-- <script src='/static/main.js'></script> -->
</html>